@model WebApplication2.Models.UserViewModel

<h1>Профиль пользователя</h1>

<p>Email: @Model.Email</p>
<p>Имя: @Model.Name</p>
<p>Телефон: @Model.Phone</p>
<p>Адрес: @Model.Address</p>
<p>Почтовый код: @Model.PostalCode</p>