@model WebApplication2.Models.UserViewModel

<h1>Profil użytkownika</h1>

<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
             <title>Document</title>
</head>
<body>
<div class="user-profile">
    <p>Email: @Model.Email</p>
    <p>Imię: @Model.Name</p>
    <p>Nazwisko: @Model.LastName</p>
    <p>Telefon: @Model.Phone</p>
    <p>Adres: @Model.Address</p>
    <p>Kod pocztowy: @Model.PostalCode</p>
    <p>Paczkomat: @Model.APM</p>
</div>

<div class="purchase-history">
        <h1>Products</h1>
        <table>
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Nazwa Produktu</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                </tr>
            </thead>
            <tbody>
                @* @foreach () *@
                {
                    <tr>
                        <td>Date</td>
                        <td>Nazwa</td>
                        <td>Ilość</td>
                        <td>Cena</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>