@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<section class="header__main">
    <div class="container">
        <div class="header__inner">
            <div class="header__content">
                <div class="header__bg"></div>
                <img src="images/shape1.png" alt="" class="header__shape-img--1">
                <img src="images/shape2.png" alt="" class="header__shape-img--2" >
                <img src="images/shape3.png" alt="" class="header__shape-img--3">
                <h1 class="header__title">
                    BUY <br> ELFBAR SUKKA
                </h1>
                <p class="header__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad blanditiis error harum illo illum iste, laudantium nobis numquam omnis qui quos rerum, voluptate. Autem dolore maiores molestias officia voluptas!
                </p> 
                <a href="#" class="header__section section__btn">Buy</a>
            </div>
        </div>
    </div>
</section>
<section class="collections">
    <div class="container">
        <div class="collection__inner">
            <h1 class="collection__title section__title">Цена дуделок!</h1>
            <p class="collection__text">Risus commodo id odio turpis pharetra elementum...</p>
        </div>
        
                <div class="collection__cards">
            @foreach (var item in Model.Items)
            {
                
                    <div class="col-md-8">
                                        <div class="row" id="products-container">
                                            <div class="col-md-4">
                                                <div class="card mb-4" data-id="${item.id}">
                                                    <img class="product-img" src="@item.pathImage" alt="">
                                                    <div class="card-body text-center">
                                                        <h4 class="item-title">@item.name</h4>
                                                        <p class="collection__cards-desct"><small>@item.description</small></p>
                                                        <p class="cart-item__weight"><small data-items-in-box class="text-muted">@item.count szt.</small></p> 
                                            
                                                        <div class="details-wrapper">
                                            
                                                            <!-- Счетчик -->
                                                            <div class="items counter-wrapper">
                                                                <div class="items__control" data-action="minus">-</div>
                                                                <div class="items__current" data-counter>0</div>
                                                                <div class="items__control" data-action="plus">+</div>
                                                            </div>
                                                            <!-- // Счетчик -->
                                            
                                                            <div class="price">
                                                                <div class="price__currency">@item.price zł</div>
                                                            </div>
                                                        </div>
                                            
                                                        <button data-cart type="button" class="btn btn-block btn-outline-warning">
                                                            do koszyka
                                                        </button>
                                            
                                                    </div>
                                                </div>
                                                </div>
                                        </div>
                                    </div>
            }
                </div>
        </div>
</section>
