@model WebApplication2.Models.BuyViewModel

@{
    ViewData["Title"] = "Create Order";
}

<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
             <title>Document</title>
</head>
<body>
  
<div class="createOrder__inner">
    <div class="createOrder-left">
        <h2>Twoje dane</h2>
        <form asp-controller="Buy" asp-action="createOrder" method="post">
            <div class="form-group">
                <label asp-for="email">Email</label>
                <input asp-for="email" class="form-control" readonly />
            </div>
          
            <div class="form-group">
                <label asp-for="name">Imię</label>
                <input asp-for="name" class="form-control" />
            </div>
          
            <div class="form-group">
                <label asp-for="lastName">Nazwisko</label>
                <input asp-for="lastName" class="form-control" />
            </div>
          
            <div class="form-group">
                <label asp-for="phone">Telefon</label>
                <input asp-for="phone" class="form-control" />
            </div>
          
            <div class="form-group">
                <label asp-for="postalCode">Kod pocztowy</label>
                <input asp-for="postalCode" class="form-control" />
            </div>
          
            <div class="form-group">
                <label asp-for="address">Adres</label>
                <input asp-for="address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="APM">Paczkomat</label>
                <input type="text" name="APM" class="form-control" placeholder="Enter payment method">
            </div>

            <div class="form-group">
                <label asp-for="APM">Payment Method</label>
                <select asp-for="APM" class="form-control">
                    <option value="">Select a payment method</option>
                    <option value="CreditCard">Credit Card</option>
                    <option value="PayPal">PayPal</option>
                    <option value="BankTransfer">Bank Transfer</option>
                </select>
            </div>
              
            <button type="submit" class="section__btn order__btn">Buy</button>
        </form>
    
    </div>
    <div class="createOrder-right">
         <h2 class="order__right-title">Podsumowanie zamowienia</h2>
         @foreach (var item in Model.items)
         {
             <div class="cart__item">
                 <div class="cart__image">
                     <img src="@item.pathImage" class="img-fluid rounded-start" alt="@item.name">
                 </div>
                 <div class="cart__item-text">
                     <h5 class="cart__item-title">@item.name</h5>
                     <p class="cart__item-details">Quantity: @item.userCount</p>
                     <p class="cart__item-details">Price: @item.price zł</p>
                 </div>
             </div>
         }
    </div>
</div>
</body>
</html>



