<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="order-form" class="card-body border-top">
    <h4 class="card-title cart__main-title">Оформить заказ</h4>
    <form>
        @foreach (var item in Model.item)
        {
            <div class="cart__item">
                <div class="cart__image">
                    <img src="@item.pathImage" class="img-fluid rounded-start" alt="@item.name">
                </div>
                <div class="cart__item-text">
                    <h5 class="cart__item-title">@item.name</h5>
                    <p class="cart__item-details">Количество: @item.userCount</p>
                    <p class="cart__item-details">Цена: @item.price</p>
                </div>
            </div>
        }
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Ваш номер телефона">
        </div>
        <button type="submit" class="btn btn-primary">Заказать</button>
    </form>
</div>
</body>
</html>
