<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>



<form id="cartForm" method="post" asp-controller="Cart" asp-action="Delete" class="cart__form">
    <div id="order-form" class="card-body border-top">
        <h4 class="card-title cart__main-title">Twoje zamówienie</h4>
        @if (Model.item.Count > 0)
        {
            foreach (var item in Model.item)
            {
                <div class="cart__item">
                    <div class="cart__image">
                        <img src="@item.pathImage" class="img-fluid rounded-start" alt="@item.name">
                    </div>
                    <div class="cart__item-text">
                        <h5 class="cart__item-title">@item.name</h5>
                        <p class="cart__item-details">Ilość: @item.userCount</p>
                        <p class="cart__item-details">Cena: @item.price zł</p>
                    </div>
                    <button type="submit" class="section__btn cart__btn-del" name="id" value="@item.id">Usuń</button>
                </div>
            }
              <button type="button" onclick="redirectToBuyController()" class="section__btn cart__btn">Buy</button>
        }
        else
        {
            <p class="cart__empty-text">Twój koszyk jest pusty</p>
        }
    </div>
</form>

</body>
<script>
    function redirectToBuyController() {
        // Прямое перенаправление на метод действия контроллера Buy
        window.location.href = "@Url.Action("createOrder", "Buy")";
    }
</script>

</html>
